@import url(http://fonts.googleapis.com/css?family=Roboto:300);

.logo-code {
  color: $secondary-green-color;
  font-weight: 600;
  font-size: 1.1em;
}
.card-title {
  font-weight: 400;
}
.card-description {
  @extend .paragraph-slim;
  padding: 0 15px;
  font-size: $base-font-size * 0.9;
  line-height: 23px;
}
.paragraph-slim {
  font-family: "Roboto",sans-serif;
  font-weight: 300;
}
#about-card {

  .sub-header {
    font-weight: 600;
    font-size: $base-font-size * 1.8;
  }

  p {
    @extend .paragraph-slim;
    font-size: $base-font-size * 0.9;
  }

  .presonal-info-table {
    @extend .paragraph-slim;
    font-size: $base-font-size * 0.9;
  }
}
