.icon-based-card {
  padding: 20px 10px;
  margin: 25px 0;
  .card-icon {
    color: $secondary-green-color;
  }


  .card-description {
    margin-top: 25px;
  }


  .btn {
    background-color: $secondary-green-color !important;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 15px;
  }


  .btn-icon {
    padding-right: 25px;
  }
}


/**
 * The about me custom card , represinting a minimal business card
 */
#about-card {
  margin-top: 90px;
  padding:20px 0;

  .sub-header {
    color: darken($primary-blue-color,5%);
    line-height: $base-line-height * 1.5;
  }


  .about-image {
    text-align: center;
    margin-top: 22px;

    img {
      @include circular-image(210px);
      border: 2px solid $secondary-green-color;
      object-fit: cover;

      user-drag: none;
      user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
    }
  }


  .about-info {
    margin-bottom: 15px;
    padding-left: 30px;

    p {
      color: $grey-color-dark;
    }

    h3 {
      margin-top: 7px;
    }
  }
}


.project-card {
  padding: 20px 40px;

  h2 {
    color: $secondary-green-color;
  }


  .sub-header {
    color: $grey-color-dark;
  }
}


.post-preview-card {
  margin: 35px auto;
  width: 80%;

  img {
    display: block;
    width: 100%;
    height: 400px;
    overflow: hidden;
    object-fit: cover;
  }


  .post-preview {
    padding: 15px 35px 90px;

    .post-meta {
      margin-bottom: 25px;
    }


    .btn {
      display: inline-block;
      float: right;
    }
  }
}
