#footer {
  background-color: darken($primary-blue-color,20%);
  color: white;

  .footer-icon-list {
    padding: 0;
    display: inline-block;
    margin-bottom: 30px;
    margin-top: 20px;
    li {
      display: inline;
    }
    a {
      text-decoration: none;
    }
  }

  .footer-icon {
    img {
      @include opacity(0.3);
      width: 40px;
      height: 40px;
      &:hover {
        @include opacity(1);
      }
    }
    padding: 0 10px;
  }

  #copyright {
    color: white;
    background-color: darken($primary-blue-color,30%);
    p {
      @include opacity(0.5);
      margin: 0;
      padding:5px 0;
    }
  }
}
