.navbar {
  font-weight: 500;
  font-size: 1.1em;
  margin: 0;
  z-index: 10;
}

.navbar-brand {
  font-size: 1.1em;
}

// Fixing line height of brand on smaller devices
.navbar{
  .navbar-brand{
    @media only screen and (max-width: 768px){
      line-height: 50px;
    }
  }
}
