.post {
  margin: 90px 0;

  .post-content {
    margin: 50px auto;
    width:80%;
  }
}

.disqus {
  @extend .centered ;
  width: 80%;
}

.post-sharing {
  margin-top: 25px;

  img {
    border-radius: 50px;
    margin: 0 2px;
    width: 30px;
    height: 30px;
  }
}
