.post {
  margin: 90px 0;

  .post-content {
    margin: 50px auto;
    width: 80%;

    > p {
      margin-bottom: 30px;
    }

  }

}

.disqus {
  @extend .centered;
  width: 80%;
}

.post-sharing {
  margin-top: 25px;

  img {
    border-radius: 50px;
    margin: 0 2px;
    width: 30px;
    height: 30px;
  }
}

.post-image {
  margin: 0 auto;
  margin-top: 15px;
  width: 100%;
}
