.button-more {
  margin-top: 50px;
}

.icon-based-skill-card {
  background-color: lighten($primary-blue-color,30%);
  padding: 20px 10px;
  margin:25px 0;
  .skill-icon {
    color: $secondary-orange-color;
  }
  .skill-description{
    margin-top: 25px;
  }
}
.section {
  padding: 70px 0px;
}
.blue-section {
  background-color: lighten($primary-blue-color,10%);
  width:100%;
}
