<!-- jQuery -->
<script src=" {{site.baseurl}}/assets/bower_components/jquery/dist/jquery.min.js " charset="utf-8 "></script>

<!-- Material Design Preloader Script-->
<script type="text/javascript" src="{{site.baseurl}}/assets/bower_components/material-preloader/js/materialPreloader.min.js"></script>

<!-- Bootstrap scripts -->
<script src="{{site.baseurl}}/assets/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>


<!-- Material Bootstrap scripts -->
<script src="{{site.baseurl}}/assets/bower_components/bootstrap-material-design/dist/js/ripples.min.js"></script>
<script src="{{site.baseurl}}/assets/bower_components/bootstrap-material-design/dist/js/material.min.js"></script>
<script>
  $(document).ready(function() {
    // This command is used to initialize some elements and make them work properly
    $.material.init();
  });

</script>

<!-- Smooth Scroll -->
<script src="{{site.baseurl}}/assets/bower_components/jquery-smooth-scroll/jquery.smooth-scroll.min.js"></script>

<!-- custom app scripts -->
<script src=" {{site.baseurl}}/assets/js/app.js " charset="utf-8 "></script>
