<div class="navbar navbar-default navbar-material-blue">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-material-blue-responsive-collapse">
        <i class='fa fa-bars fa-lg'></i>
      </button>
      <a class="navbar-brand" href="{{site.url}}">
        <span class='fa fa-angle-left logo-code'></span> KADY
        <span class="logo-code" id='slash'>/</span>
        <span class='fa fa-angle-right logo-code'></span>
      </a>
    </div>
    <!-- /navbar-header -->

    <div class="navbar-collapse collapse navbar-material-blue-responsive-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="javascript:void(0)">Projects</a></li>
        <li><a href="{{site.baseurl}}/blog">Blog</a></li>
        <li><a href="{{site.baseurl}}/about">About</a></li>
        <li><a href="{{site.baseurl}}/contact">Contact</a></li>
      </ul>
    </div>
    <!-- /navbar-collapse -->
  </div>
  <!-- /container -->
</div>
<!-- /navbar -->
