---
layout: default
---

<div class="container">

  <div class="post">
    <h1 class="post-title text-center">{{ page.title }}</h1>
    <div class="post-meta row centered">


      <span class='mdi-action-event'></span>
      {{page.date | date: '%b %d, %Y | %I:%M %p'}} &nbsp;&nbsp;&nbsp;
      <span class='mdi-image-timer'></span>
      {{ page.reading-time }} Min. reading &nbsp;&nbsp;&nbsp;

    </div>
    <!-- /.post-meta -->
    <div class="post-content">
      {{ content }}
      {% include social-sharing.html %}
    </div>
    <!-- /.post-content -->


    {% if page.disqus %}
      {% include disqus.html %}
    {% endif %}


  </div>
  <!-- /.post -->

</div>
<!-- /.container -->
